
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1F2F3F;
}


.register-card{
    max-width: 380px;
    width: 100%;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 20px 40x rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    /*animation: fadeIn 0.6s ease-in-out;*/
}

.title {
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.subtitle{
    color: #6c757d;
    font-size: 16px;
    margin-bottom: 1.5rem;
}
.form-control {
    border-radius: 10px;
}

.btn-register{
    border-radius: 10px;
    color: #ffffff;
    background-color: #233445;
    font-weight: 650;
    padding: 12px;
}

.btn-register:hover{
    background-color: #1b2735;
    transform: translateY(2px) ;
}

.login-link {
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

.login-link a {
    text-decoration: none;
    color:  #233445;
    font-weight: 600;
}

.login-link a:hover {
    text-decoration: underline;
}