.conteiner{
    background-color: #000839;
    color: #FEFFFF;
    display: flex;
}

.buttons {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FEFFFF;
    margin: 10px;
    padding: 10px;
}