.conteiner{
    background-color: #ACC8E5;
    color: #06182B;
    display: flex;
}

.buttons {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #06182B;
    margin: 10px;
    padding: 10px;
}