<h2>Publicaciones</h2>

<p *ngIf="posts.length === 0">
  No hay publicaciones disponibles.
</p>

<section class="posts-gallery">


  <article *ngFor="let post of posts">
  <div class="card text-bg-dark" >
    <img
      *ngIf="post.image"
      [src]="post.image"
      alt="{{ post.title }}"
      width="300"
    />
    <div class="card-img-overlay">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">Guadado el {{post.created_at | date}} -- Por: {{post.author}}</p>

      <div class="card-actions">
        <button class="btn btn-danger w-100" (click)="onDelete(post.id)">
          <i class="ri-delete-bin-5-line"></i> ELIMINAR
        </button>
        <button class="btn btn-primary w-100" [routerLink]="['/posts', post.id]">
          <i class="ri-eye-line"></i> Ver
        </button>

      </div>
    </div>

  </div>

  </article>

</section>