<section class="post-detail" *ngIf="post as p">
<header class="post-header">
<p class="post-eyebrow">Detalle de la publicación</p>
<h1 class="post-title">{{ p.title }}</h1>
<p class="post-meta">
<span>Por <strong>{{ p.author }}</strong></span>
<span class="dot">•</span>
<time>{{ p.created_at | date:'longDate' }}</time>
</p>
</header>


<figure class="post-image" *ngIf="p.image">
<img [src]="p.image" [alt]="p.title" />
</figure>


<article class="post-content">
{{ p.content }}
</article>
</section>





